API_BASE_URL=
ORIGIN=
TENANT_CODE_NAME=
GLOBAL_LC_PROGRAM_ID=
INTERNAL_ACCESS_TOKEN=
PROJECT_TEMPLATE_EXTERNAL_ID=
ADMIN_ACCESS_TOKEN=
ORG_ID=
CERTIFICATE_BASE_TEMPLATE_ID=
ENVIRONMENT=
REPORT_FEEDBACK_FORM_URL=
APK_DOWNLOAD_URL=
ENGAGEMENT_SCRIPT_URL=
UPLOAD_CONSENT_TASK_ID=
UPLOAD_SLA_TASK_ID=
CONSENT_FORM_SAMPLE_URL=
SLA_FORM_SAMPLE_URL=
APP_DEPLOYMENT_STATE=
DEFAULT_USER_PASSWORD=
