name: Dev Build & Deploy Graduation Portal (BRAC)

on:
  push:
    branches:
      - release-1.0.0

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: tekdi/graduation-portal

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.BRAC_GHCR_PAT }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ghcr.io/tekdi/graduation-portal:latest
            ghcr.io/tekdi/graduation-portal:${{ github.sha }}

      - name: Deploy Stack
        uses: appleboy/ssh-action@master
        with:
            host: ${{ secrets.HOST_NAME_DEV }}
            username: ${{ secrets.USERNAME_DEV }}
            key: ${{ secrets.SSH_KEY_DEV }}
            port: ${{ secrets.PORT_DEV }}
            script: |
                 cd ${{ secrets.TARGET_DIR_DEV }}
                 if [ -f .env ]; then
                 rm .env
                 fi
                 echo '${{ secrets.DEV_ENV_BRAC }}"' > .env
                 ls -ltra
                 ./deploy.sh
